.11_20 { 
	overflow:hidden;
}.e11_20 { 
	width:1512px;
	height:982px;
	position:absolute;
}.1_10 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_10 { 
	width:1546px;
	height:982px;
	position:absolute;
	left:-34px;
	top:0px;
	background-image:url(images/rectangle_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e8_34 { 
	width:601.6544189453125px;
	height:662px;
	position:absolute;
	left:859px;
	top:-64px;
}.e7_12 { 
	width:601.6544189453125px;
	height:662px;
	position:absolute;
	left:0px;
	top:0px;
}.e7_4 { 
	background-color:rgba(229.00000154972076, 36.00000165402889, 36.00000165402889, 1);
	width:414.58538818359375px;
	height:386.8435363769531px;
	position:absolute;
	left:64.7157974243164px;
	top:264.44635009765625px;
}.e8_33 { 
	width:601.6544189453125px;
	height:662px;
	position:absolute;
	left:0px;
	top:0px;
}.e7_2 { 
	width:601.6544189453125px;
	height:662px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:61px;
	border-top-right-radius:61px;
	border-bottom-left-radius:61px;
	border-bottom-right-radius:61px;
	background-image:url(images/img_4503_removebg_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e8_44 { 
	color:rgba(0, 0, 0, 1);
	width:423px;
	height:199px;
	position:absolute;
	left:239px;
	top:388px;
	font-family:Lato;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e11_309 { 
	width:337.4747009277344px;
	height:85.18555450439453px;
	position:absolute;
	left:537.6973266601562px;
	top:334.4139709472656px;
}.e11_310 { 
	background-color:rgba(230.56249290704727, 25.938282161951065, 25.938282161951065, 1);
	width:322.3793640136719px;
	height:75.4164810180664px;
	position:absolute;
	left:0px;
	top:9.769074440002441px;
}.e11_311 { 
	background-color:rgba(230.56249290704727, 25.938282161951065, 25.938282161951065, 1);
	width:61.455055236816406px;
	height:58.28947448730469px;
	position:absolute;
	left:276.0196533203125px;
	top:0px;
}.e7_5 { 
	color:rgba(229.49999392032623, 36.33749954402447, 36.33749954402447, 1);
	width:707px;
	height:77px;
	position:absolute;
	left:102px;
	top:105px;
	font-family:Lato;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}.e8_50 { 
	background-color:rgba(229.00000154972076, 36.00000165402889, 36.00000165402889, 1);
	width:527px;
	height:56px;
	position:absolute;
	left:985px;
	top:30px;
}.e1_6 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:27px;
	position:absolute;
	left:999px;
	top:41px;
	font-family:Lato;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e1_7 { 
	color:rgba(255, 255, 255, 1);
	width:160px;
	height:27px;
	position:absolute;
	left:1132px;
	top:41px;
	font-family:Lato;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e1_8 { 
	color:rgba(255, 255, 255, 1);
	width:43px;
	height:27px;
	position:absolute;
	left:1316px;
	top:41px;
	font-family:Lato;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e1_23 { 
	color:rgba(255, 255, 255, 1);
	width:118px;
	height:27px;
	position:absolute;
	left:1383px;
	top:41px;
	font-family:Lato;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e8_37 { 
	background-color:rgba(255, 255, 255, 1);
	width:58.58461380004883px;
	height:56px;
	position:absolute;
	left:283px;
	top:909px;
}.e8_38 { 
	background-color:rgba(39.00000147521496, 59.00000028312206, 74.0000031888485, 1);
	width:58.58461380004883px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}.8_39 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e8_39 { 
	width:39.0564079284668px;
	height:16px;
	position:absolute;
	left:9.764137268066406px;
	top:16.000038146972656px;
	border-radius:Symbol(figma.mixed)px;
}.e7_15 { 
	background-color:rgba(255, 249.6875050663948, 249.6875050663948, 0);
	width:56px;
	height:56px;
	position:absolute;
	left:103px;
	top:909px;
}.i7_15_141_2638 { 
	overflow:hidden;
}.ei7_15_141_2638 { 
	background-color:rgba(107.00000122189522, 108.00000116229057, 126.00000008940697, 1);
	width:56px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.ei7_15_937_304 { 
	background-color:rgba(255, 255, 255, 1);
	width:56px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.e7_19 { 
	background-color:rgba(255, 255, 255, 0);
	width:56px;
	height:56px;
	position:absolute;
	left:193px;
	top:909px;
}.i7_19_141_2643 { 
	overflow:hidden;
}.ei7_19_141_2643 { 
	background-color:rgba(107.00000122189522, 108.00000116229057, 126.00000008940697, 1);
	width:56px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.ei7_19_937_301 { 
	background-color:rgba(255, 255, 255, 1);
	width:56px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.e8_27 { 
	background-color:rgba(11.68750025331974, 8.570833392441273, 8.570833392441273, 0);
	width:56px;
	height:56px;
	position:absolute;
	left:13px;
	top:909px;
}.i8_27_141_2624 { 
	overflow:hidden;
}.ei8_27_141_2624 { 
	background-color:rgba(107.00000122189522, 108.00000116229057, 126.00000008940697, 1);
	width:56.01025390625px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}.ei8_27_937_307 { 
	background-color:rgba(255, 255, 255, 1);
	width:56px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}